doctype html
include partials/vars.jade
html.no-js(lang="de-DE", ng-app="f5Twoday", ng-Controller="f5TwodayCtrl")
    head
        meta(charset="UTF-8")
        title {{site.title}}
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="description", content="{{site.description}}")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="author", content="{{site.author}}")
        | #{lineBreak}
        | <% site.metaRobots %>
        | <% site.metaAlternate %>
        include partials/metasocial.jade
        include partials/metaapple.jade
        link(rel="shortcut icon", href!='<% image name="favicon" fallback="/favicon" class="icon" as="url" %>')
        link(rel="stylesheet", href!="<% site.url %>main.css")
        | <% site.skin name="coreInfo" %>
        script(src!="<% staticURL %>cdn/files/f5head-#{headVersion}.js")

    body(ng-class="format.body.class")
        #preloadWrapper: #preloadAnimation
        #f5wrap.off-canvas-wrap(data-offcanvas)
            .inner-wrap
                include partials/toolbar
                #header
                    h1 {{site.title}}
                        span {{site.subtitle}}
                #f5container.container
                    .row
                        div(ng-repeat="column in columns",
                            ng-hide="!column.activate",
                            id="{{column.id}}",
                            class="{{column.class}}",
                            ng-style="column.style") {{column.contains}}
                a.exit-off-canvas(href="#")
        | #{lineBreak}
        | <% modToolbarDropdowns %>
        script(src!="<% staticURL %>cdn/files/f5app-#{appVersion}.js")