- var iconFolder = "https://googledrive.com/host/0B87rILW4RVIJNlN3eUJxVWN5ZWM"
- var lineBreak = " "
doctype html
html.no-js(lang="de-DE")
    head
        meta(charset="UTF-8")
        title <% response.title %>
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="description", content="In A Neon Wilderness: Blogging about urban hymns and bitter-sweet symphonies")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="author", content!="<% site.alias %>")
        | #{lineBreak}
        | <% site.metaRobots %>
        | <% site.metaAlternate %>
        meta(property="og:url", content!="<% site.href %>")
        meta(property="og:title", content!="<% site.alias %>")
        meta(property="og:site_name", content!="<% site.title %>")
        //- min 600x315px to 1200x630
        meta(property="og:image", content="#{iconFolder}/og-image.png")
        meta(property="og:image:type", content="image/png")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        link(rel="apple-touch-icon-precomposed", sizes="152x152", href="#{iconFolder}/apple-touch-icon-152x152.png")
        link(rel="apple-touch-icon-precomposed", sizes="114x114", href="#{iconFolder}/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon-precomposed", sizes="72x72", href="#{iconFolder}/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon-precomposed", sizes="57x57", href="#{iconFolder}/apple-touch-icon-57x57.png")
        link(rel="shortcut icon", href!='<% image name="favicon" fallback="/favicon" class="icon" as="url" %>')
        link(rel="stylesheet", href!="<% site.url %>main.css")
        script#cdnModernizr(src!="<% staticUrl %>cdn/files/modernizr-custom-min-js.js")
        script(src!="<% staticUrl %>sys.files/js/jquery/jquery.min.js")
        script(src!="<% staticURL %>cdn/files/fastclick-min-js.js")
        | #{lineBreak}
        | <% root.skin name="statsCounter" %>
        link(rel="stylesheet", href!='<% site.skin name="googleDrive" %>css/rainy.min.css')
        | #{lineBreak}
        | <% site.skin name="browsertest" %>

    body.usesBackstretch.antialiased
        #preloadWrapper: #preloadAnimation
        #f5body.off-canvas-wrap(data-offcanvas)
            .inner-wrap
                | <% site.skin name="foundationToolbar" %>
                #header
                    h1
                        <% site.title %>
                        span <% site.tagline %>
                #foundation5.container
                    .row
                        #content.large-9.medium-8.small-12.columns
                            | <% response.message prefix="<div class='message alert-box radius' data-alert>" suffix="<a href='#' class='close'>&times;</a></div>" %>
                            | <% response.body %>
                        #sidebar.large-3.medium-offset-0.medium-4.small-offset-2.small-8.end.columns
                            | <% site.sidebar01 %><% site.sidebar02 %>
                a.exit-off-canvas(href="#")
        | #{lineBreak}
        | <% site.skin name="commentIcon_min" %>
        | <% modToolbarDropdowns %>
        | <% site.skin name="statcounter_min" %>
        | <% site.skin name="cdnSettings" %>
        script#cdnTwoday(src!='<% site.skin name="googleDrive" %>js/cdnconnect.min.js')