doctype html
include partials/vars.jade
html.no-js(lang="de-DE", ng-app="f5SkinApp", ng-controller="F5MainCtrl as f5main")
    head
        meta(charset="UTF-8")
        title <% site.title %> <% site.tagline %>
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="description", content="{{f5main.param.site.description}}")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="author", content="{{f5main.param.site.author}}")
        | #{lineBreak}
        | <% site.metaRobots %>
        | <% site.metaAlternate %>
        include partials/metasocial.jade
        include partials/metaapple.jade
        link(rel="shortcut icon", href!='<% image name="favicon" fallback="/favicon" class="icon" as="url" %>')
        link(rel="stylesheet", href!="<% site.url %>main.css")
        link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        script(src="http://static.twoday.net/cdn/files/modernizr-custom-min-js.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js")
        script(src="#{jsFolder}/f5skin2day/head.js")
        style#f5UserStyles
            | {{userStyles}}
        | <% site.skin name="coreInfo" %>

    body(ng-class="[f5main.param.format.body.class]", ng-style="f5main.param.format.body.style")
        #loader-wrapper: #loader(ng-cloak, ng-if="f5main.param.site.loader.animation")
        #f5wrap.off-canvas-wrap(data-offcanvas)
            .inner-wrap
                include partials/toolbar
                #header(ng-cloak, ng-class="[f5main.param.format.header.class]", ng-style="f5main.param.format.header.style")
                    h1(ng-class="[f5main.param.format.title.class]", ng-style="f5main.param.format.title.style") {{f5main.param.site.title}}{{f5main.param.format.header.titledelimiter}}
                        small(ng-class="[f5main.param.format.subtitle.class]", ng-style="f5main.param.format.subtitle.style") {{f5main.param.site.subtitle}}
                #f5container.container(ng-cloak)
                    .row
                        div(id="{{f5main.param.leftColumn.id}}", ng-hide="!f5main.param.leftColumn.activate", ng-class="f5main.param.leftColumn.class", ng-style="f5main.param.leftColumn.style")
                        div(id="{{f5main.param.middleColumn.id}}", ng-hide="!f5main.param.middleColumn.activate", ng-class="f5main.param.middleColumn.class", ng-style="f5main.param.middleColumn.style")
                            | <% response.message prefix="<alert ng-hide='msgClose' class='message radius' close='msgClose=true'>" suffix="</alert>" %>
                            | <% response.body %>
                        div(id="{{f5main.param.rightColumn.id}}", ng-hide="!f5main.param.rightColumn.activate", ng-class="f5main.param.rightColumn.class", ng-style="f5main.param.rightColumn.style")
                            | <% site.sidebar01 %><% site.sidebar02 %>
                a.exit-off-canvas(href="#")
        | #{lineBreak}
        | <% site.skin name="stdPreferences" %>
        #usrPreferences(style="display:none") <% site.skin name="usrPreferences" %>
        | #{lineBreak}
        | <% site.skin name="genMenuItems" %>
        | <% site.skin name="ngTemplates" %>
        script(src="#{jsFolder}/f5skin2day/app.js")